

.app-exemplo {
    background-color: #141416;
}

.primeiro-button-exemplo{
    font-size: 1.8rem;
    font-family: Poppins;
    font-weight: 800;
    width: 50rem;
    height: 4.9rem;
    cursor: pointer;
    background-size: 200%;
    background-image: -webkit-gradient(linear, right top, left top, from(#04D361), color-stop(#009D4C), to(#04D361));
    background-image: -o-linear-gradient(right, #04D361, #009D4C, #04D361);
    background-image: linear-gradient(to left, #04D361, #009D4C, #04D361); 
    border: 0;
    outline: 0;
    border-radius: 0.6rem;
    color: white; 
    position: relative;
    z-index: 10;
    transition: 0.4s;
}

.primeiro-button-vouAprender:hover {
    background-position: right;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.videoMobile {
    width: 30rem;
    height: 50rem;
    border: 2px solid #424247;
}

.text-videoMobile {
    color: white;
    font-size: 3.8rem;
    font-family: Inter;
}

.pageExemplos header {
    font-family: Inter;
    text-align: center;
    font-size: 6.2rem;
    color: #F4F4F8;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 9rem;
    width: 90%;
}

.pageExemplos header small {
    font-size: 6.2rem;
    color: #EE1C25;

}

.botaoo {
    margin-top: 10rem;
    text-align: center;
}

.slider {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

.image {
    width: 50.1rem;
    height: 62.5rem;
    border-radius: 10px;
    
}

svg.MuiSvgIcon-root {
    font-size: 7rem;
}

.right-arrow {
    position: relative;
    margin-left: 5rem;
    color: #F4F4F8;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.left-arrow {
    position: relative;
    margin-right: 5rem;
    color: #F4F4F8;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.primeiro-button-exemplo:hover {
    background-position: right;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}



@media(max-width: 1440px) {
    .primeiro-button-exemplo {
        width: 50rem;
        height: 6rem;
        font-size: 2.2rem;
    }
}

@media(max-width: 980px) {

     .primeiro-button-exemplo {
        width: 70rem;
        height: 10rem;
        font-size: 3.5rem;
    }
}

@media(max-width: 732px) {
    .pageExemplos header {
        max-width: 500px;
    }
}

@media(max-width: 550px) {
    .pageExemplos header {
        max-width: 400px;
    }

    
}

@media(max-width: 450px) {
    .pageExemplos header {
        width: 80%;
        max-width: 300px;
    }
}
