.app-pageGanheDinheiro {
    background-color: #141416;
}

.pageGanheDinheiro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    max-width: 1450px;
    margin: 0 auto;
}

.img-ganheDinheiro {
   width: 76.9rem;
   height: 64rem;
}

.img-ganheDinheiro-section {
    margin-right: 30px;
}

.texts-ganheDinheiro .main-text {
    font-family: Inter;
    font-size: 5.9rem;
    max-width: 700px;
    color: #F4F4F8;
}
    
.main-text small {
    font-size: 5.9rem;
    color: #EE1C25;
}

.texts-ganheDinheiro .second-text {
    font-family: Poppins;
    font-size: 2.5rem;
    max-width: 700px;
    font-weight: 500;
    color: #A8A8B3;
    margin-top: 4.6rem;
    margin-bottom: 4.6rem;
}

.img-ganheDinheiro {
    position: relative;
    z-index: 10;
}

@media(min-width: 1174px) {
    .button-ganheDinheiro-cima {
        display: none;
    }
}

@media(max-width: 1440px) {
    .texts-ganheDinheiro .second-text {
        max-width: 470px;
    }
}

@media(max-width: 1174px) {

    .button-ganheDinheiro {
        display: none;
    }

    .pageGanheDinheiro {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .line {
        display: none;
    }

    .texts-ganheDinheiro .main-text {
        text-align: center;

    }

    .texts-ganheDinheiro .second-text {
        text-align: center;
        margin-bottom: 0;
    }

    .img-ganheDinheiro-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0 auto;
        margin-top: 4rem;
        
    }

    .reverseGanheDinheiro {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

}

@media(max-width: 1166px) {
    .texts-ganheDinheiro .main-text {
        max-width: 800px;
    }

    .texts-ganheDinheiro .second-text {
        max-width: 650px;
        margin: 4.6rem auto 0;
    }
}

@media(max-width: 544px) {
    .texts-ganheDinheiro .second-text {
        max-width: 300px;
        margin: 4.6rem auto 0;
    }

    .img-ganheDinheiro {
        width: 70rem;
        height: 60rem;
    }
}

@media(max-width: 482px) {
    .img-ganheDinheiro {
        width: 63rem;
        height: 53rem;
    }
}

@media(max-width: 370px) {
    .texts-ganheDinheiro .second-text {
        max-width: 200px;
    }

    .img-ganheDinheiro {
        width: 65rem;
        height: 55rem;
    }
}

@media(max-width: 343px) {
    .img-ganheDinheiro {
        width: 60rem;
        height: 50rem;
    }
}


