.app-promocao {
    background-color: #141416;
    padding: 3.5rem 0 7rem 0;
}

.boxPromocao {
    width: 75rem;
    height: 93rem;
    background: -o-linear-gradient(109.92deg, #EA2550 43.23%, #F9665C 100%);
    background: linear-gradient(340.08deg, #EA2550 43.23%, #F9665C 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 2rem;
    
}

.boxMain {
    margin-top: 5rem;
}

.boxHeader {
    height: 35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 2px solid rgba(198, 198, 198, 0.21);
    width: 100%;
}

.logoBoxHeader {
    width: 35rem;
    
}

.menu-toggle {
    font-family: Montserrat;
    font-size: 6.4rem;
    color:rgba(255, 255, 255, 0.54);
    margin-left: 11rem;
}

.de47 {
    font-family: Montserrat;
    color: #E6E6E6;
    font-weight: 700;
    text-align: end;
    margin-right: 9rem;
}

.valor47 {
    font-size: 8rem;
    
}

.ate12 {
    font-size: 2rem;
}

.menosDe150 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 2.2rem;
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    margin-top: 6rem;
    color: #C0C0D6;
}

.menosDe150 small {
    font-size: 2.5rem;
    font-family: Poppins;
    font-weight: 800;
    color: white;
} 

.sectionPromoButton {
    text-align: center;
    margin-top: 4rem;
}

.buttonPromo {
    width: 50rem;
    height: 6.2rem;
    outline: 0;
    border: 0;
    font-family: Poppins;
    font-weight: 700;
    font-size: 2.9rem;
    border-radius: 1rem;
    cursor: pointer;
    background: white;
   
}

.buttonPromo:hover {
    background: rgb(231, 231, 231);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.bbb {
    background: -webkit-gradient(linear, right top, left top, from(#EA2550), to(#F9665C));
    background: -o-linear-gradient(right, #EA2550, #F9665C);
    background: linear-gradient(to left, #EA2550, #F9665C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.one {
    background-color: rgba(255, 255, 255, 0.54);
    height: 0.3rem;
    width: 32rem;
    -webkit-transform: rotate(13deg) translate(0.5rem, 3.8rem) ;
        -ms-transform: rotate(13deg) translate(0.5rem, 3.8rem) ;
            transform: rotate(13deg) translate(0.5rem, 3.8rem) ;
}

.two {
    background-color: rgba(255, 255, 255, 0.54);
    height: 0.3rem;
    width: 32rem;
    -webkit-transform: rotate(-13deg) translate(0.5rem, -3.8rem);
        -ms-transform: rotate(-13deg) translate(0.5rem, -3.8rem);
            transform: rotate(-13deg) translate(0.5rem, -3.8rem);
}

@media(max-width: 538px) {
    .boxPromocao {
        width: 70rem;
        height: 93rem;
    }

    .menosDe150 {
        max-width: 400px;
    }

    .sectionPromoButton {
        margin-top: 4rem;
    }

    .boxMain {
        margin-top: 4rem;
    }
}

@media(max-width: 490px) {
    .boxPromocao {
        width: 60rem;
        height: 93rem;
    }

    .menosDe150 {
        max-width: 300px;
    }

    .sectionPromoButton {
        margin-top: 4rem;
    }

    .de47 {
        margin-top: 1rem;
    }

    .valor47 {
        font-size: 7rem;
    }

    .boxMain {
        margin-top: 4rem;
    }
}

@media(max-width: 440px) {

    .menu-toggle {
        margin-left: 9rem;
    }

    .de47 {
        margin-right: 7rem;
    }

    .menosDe150 {
        max-width: 260px;
    }
}

@media(max-width: 440px) {
    .menosDe150 {
        max-width: 330px;
    }
}

@media(max-width: 425px) {
    .menosDe150 {
        max-width: 220px;
    }
}

@media(max-width: 320px) {
    .menosDe150 {
        max-width: 200px;
    }
}