.app-quemEJoseph {
    background: #141416;
}

.pageQuemEJoseph {
    width: 90%;
    max-width: 1450px;
    margin: 0 auto;
}

 .pageQuemEJoseph header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.textoPrincipal-quemEJoseph {
    font-family: Inter;
    font-size: 6rem;
    color: #F4F4F8;
    max-width: 500px;
}

.fotoJoseph {
    width: 13rem;
    border-radius: 12rem;
    margin-right: 6rem;
}

.textoPrincipal-quemEJoseph small{
    font-family: Inter;
    font-size: 6rem;
    color: #EE1C25;
}

.texts-quemEJoseph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.primeira-parte-quemEJoseph {
    font-family: Poppins;
    font-size: 2.8rem;
    max-width: 700px;
    font-weight: 500;
    color: #A8A8B3;
    margin-top: 4.6rem;
    margin-right: 60px;
    border-right: 2px solid #323238;
    
}

.espaco-segundaParte {
    font-family: Poppins;
    font-size: 2.8rem;
    max-width: 500px;
    font-weight: 500;
    color: #A8A8B3;
    margin-top: 4.6rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid #202024;
}

.espaco {
    margin-top: 3.2rem;
    margin-right: 6rem;
}

.instagram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
   
}

.logo-instagram {
    width: 3.5rem;
    cursor: pointer;
}

.texto-instagram a{
    font-family: Poppins;
    font-weight: 500;
    font-size: 2.5rem;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 2rem;
    text-decoration: none;
}

.clique-no-icone {
    color: #202024;
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5px;
    font-family: Poppins;
    font-weight: 500;
}

@media(max-width: 1440px) {
    .pageQuemEJoseph {
        width: 80%;
        max-width: 1300px;
        margin: 0 auto;
    }

    .espaco-segundaParte {
        max-width: 1000px;
    }

}

@media(max-width: 1300px) {

    .pageQuemEJoseph {
        max-width: 1000px;
        margin: 0 auto;
    }

    .texts-quemEJoseph {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        
        
    }

    .primeira-parte-quemEJoseph {
        margin-right: 0;
        border: none;
    }

    .espaco-segundaParte {
        border: none;
    }
}

@media(max-width: 600px) {
    .espaco-segundaParte {
        border-bottom: 2px solid #202024;
    }
} 

