.PageVouAprender .header-vouAprender {
    font-family: Inter;
    font-size: 6.6rem;
    max-width: 1000px;
    text-align: center;
    margin: 7rem auto;
    color: #F4F4F8;
}

.header-vouAprender small {
    font-size: 6.6rem;
    color: #EE1C25;    
}

.todas-box {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}

.section-box {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    -ms-grid-columns: minmax(0,1fr) 32px minmax(0,1fr) 32px minmax(0,1fr);
    grid-template-columns: repeat(3,minmax(0,1fr));
    grid-gap: 32px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5.2rem;
}

.box {
    background-color: #202024;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.box header {
    height: 9rem;
    border-bottom: 2px solid #323238;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
}

.box header .logoPremium {
    margin-right: 3rem;
}

.porDentroDaLogo {
    width: 4rem;
}

.box header .background-modulo,
.background-modulo-beneficios {
    background-image: -webkit-gradient( linear, left top, left bottom, from(#04D361), to(#009D4C));
    background-image: -o-linear-gradient( #04D361, #009D4C);
    background-image: linear-gradient( #04D361, #009D4C);
    width: 13rem;
    height: 4rem;
    margin-left: 4rem;
    border-radius: 3.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
}

.box header .modulo {
    font-family: Poppins;
    font-weight: 600;
    color: white;
    font-size: 1.5rem;
}

.box .titulo-box {
    border-left: 2px solid #04D361;
    font-family: Inter;
    color: #E1E1E6;
    font-weight: 700;
    font-size: 3.3rem;
    margin: 4.4rem 0 0.3rem 4rem;
    padding-left: 4rem;
    max-width: 400px;
    width: 90%;
}

.tituloBoxPremium {
    border-left: 2px solid transparent;
    border-left: 2px solid #EA2550;
    border-image-slice: 1;
    font-family: Inter;
    font-size: 7.2rem;
    font-weight: 700;
    font-size: 3.6rem;
    margin: 4.4rem 0 0.3rem 4rem;
    padding-left: 4rem;
    max-width: 450px;

    background: -webkit-gradient(linear, right top, left top, from(#FF9F22), to(#FFC170));

    background: -o-linear-gradient(right, #FF9F22, #FFC170);

    background: linear-gradient(to left, #FF9F22, #FFC170);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box .description-box {
    margin: 4rem;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.8rem;
    color: #A8A8B3;
    line-height: 3.1rem;
}

.section-button-vouAprender {
    text-align: center;
    margin-top: 8rem;
}

.primeiro-button-vouAprender {
    font-size: 1.8rem;
    font-family: Poppins;
    font-weight: 800;
    width: 50rem;
    height: 4.9rem;
    cursor: pointer;
    background-size: 200%;
    background-image: -webkit-gradient(linear, right top, left top, from(#04D361), color-stop(#009D4C), to(#04D361));
    background-image: -o-linear-gradient(right, #04D361, #009D4C, #04D361);
    background-image: linear-gradient(to left, #04D361, #009D4C, #04D361);
    border: 0;
    outline: 0;
    border-radius: 0.6rem;
    color: white; 
    z-index: 10;
    transition: 0.4s;
}

.primeiro-button-vouAprender:hover {
    background-position: right;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

@media(max-width: 1440px) {
    .todas-box {
        width: 90%;
        max-width: 1100px;
    }
    
    .section-box {
        -ms-grid-columns: minmax(0,1fr) 32px minmax(0,1fr) 32px minmax(0,1fr);
        grid-template-columns: repeat(3,minmax(0,1fr));
        grid-auto-flow: row;
    }

    .PageVouAprender .header-vouAprender {
        max-width: 700px;
    }

    .primeiro-button-vouAprender {
        width: 50rem;
        height: 6rem;
        font-size: 2.2rem;
    }
}


@media(max-width: 1200px) {
    .todas-box {
        width: 90%;
        max-width: 1000px;
    }
    

    .section-box {
        -ms-grid-columns: minmax(1,1fr) 32px minmax(1,1fr);
        grid-template-columns: repeat(2,minmax(1,1fr));
        grid-auto-flow: row;
    }
}

@media(max-width: 1164px) {
    .todas-box {
        width: 90%;
        max-width: 550px;
    }
    
    .section-box {
        -ms-grid-columns: minmax(0,1fr);
        grid-template-columns: repeat(1,minmax(0,1fr));
        grid-auto-flow: row;
    }
}

@media(max-width: 1000px) {
    .todas-box {
        width: 90%;
    }


    .box header {
        height: 12.5rem;
    }

    .box header .background-modulo, .background-modulo-beneficios {
        width: 18rem;
        height: 5.6rem;
        
    }

    .box header .modulo {
        font-size: 2rem;
    }

    .box .titulo-box {
        font-size: 6rem;
        margin: 6rem 1rem 5rem 6rem;
        max-width: 600px;
    }

    .box .description-box {
        font-size: 3.6rem;
        margin: 5rem;
        line-height: 6rem;
    }

    .tituloBoxPremium {
        font-size: 6rem;
        margin: 6rem 1rem 5rem 6rem;
    }

    
    .section-box {
        -ms-grid-columns: minmax(0,1fr);
        grid-template-columns: repeat(1, minmax(0,1fr));
        grid-auto-flow: row;
    }
}

@media(max-width: 980px) {
    .todas-box {
        max-width: 700px;
    }

    .primeiro-button-vouAprender {
        width: 70rem;
        height: 10rem;
        font-size: 3.5rem;
    }

    .PageVouAprender .header-vouAprender,
    .PageVouAprender .header-vouAprender small {
        font-size: 8rem;
    }

    
}


@media(max-width: 550px) {

    .todas-box {
        max-width: 350px;
    }

    .box .titulo-box {
        font-size: 4.4rem;
    }

    .box .description-box {
        font-size: 2rem;
        line-height: 4.2rem;
    }

    .tituloBoxPremium {
        font-size: 4.8rem;
    }

}

@media(max-width: 425px) {

    .todas-box {
        max-width: 300px;
    }

    
}

@media(max-width: 375px) {
    .todas-box {
        max-width: 270px;
    }
}