@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

html, body {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #0D0D0F;
}

.page1 header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

header .logo-design {
    width: 18rem;
    height: 18rem;
    margin-top: 20px;
}

.titulo-principal-1 h2 {
    text-align: center;
    font-size: 6rem;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    font-family: Inter;
    color: #F4F4F8;
}

.chamar-atencao small{
    font-size: 6rem;
    color: #EE1C25;
}

.pontos {
    color: #EE1C25;
}

.segunda-parte {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 4.5rem auto;
    width: 90%;
}

.text-segunda-parte {
    font-family: Poppins;
    color: #A8A8B3;
    font-weight: 500;
    text-align: center;
    max-width: 750px; 
    font-size: 2.2rem;
}

.primeiro-button {
    font-size: 1.8rem;
    font-family: Poppins;
    font-weight: 800;
    width: 32.3rem;
    height: 4.9rem;
    cursor: pointer;
    background-size: 200%;
    background-image: -webkit-gradient(linear, right top, left top, from(#04D361), color-stop(#009D4C), to(#04D361));
    background-image: -o-linear-gradient(right, #04D361, #009D4C, #04D361);
    background-image: linear-gradient(to left, #04D361, #009D4C, #04D361); 
    border: 0;
    outline: 0;
    border-radius: 0.6rem;
    color: white; 
    z-index: 10;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    
}

.primeiro-button:hover {
    background-position: right;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.sectionButtonPage1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 7rem;
}

.video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    width: 72.7rem;
    height: 33.8rem;

    background-color: #0D0D0F;
    border: 3px solid #202024;
   
    margin: 0 auto;
    z-index: 10;
}

.video .video-text {
    font-family: sans-serif;
    color: white;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 6.8rem;
}

.wave {
    position: relative;
    bottom: 0;
    left: 0;
}

.wavess {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media(max-width: 1440px) {
    html {
        font-size: 50%;
    }

    .text-segunda-parte {
        max-width: 600px;
    }

    .primeiro-button {
        width: 40rem;
        height: 6rem;
        font-size: 2.2rem;
    }

}

@media(max-width: 1243px) {
    html {
        font-size: 45%;
    } 
}

@media(max-width: 1166px) {
    html {
        font-size: 60%;
    }

    
}

@media(max-width: 800px) {
    html {
        font-size: 45%;
    } 

}

@media(max-width: 798px) {
    .primeiro-button{
        width: 65rem;
        height: 10rem;
        font-size: 2.8rem;
    }
}

@media(max-width: 664px) {
    html {
        font-size: 38%;
    }

    .text-segunda-parte {
        max-width: 400px;
    }
}

@media(max-width: 550px) {
    html {
        font-size: 40%;
    }

}

@media(max-width: 513px) {
    .video {
        width: 55rem;
        height: 26rem;
    }
}

@media(max-width: 425px) {
    html {
        font-size: 31%;
    }

    .text-segunda-parte {
        max-width: 300px;
    }

}

@media(max-width: 375px) {
    html {
        font-size: 30%;
    }
}

@media(max-width: 320px) {
    html {
        font-size: 23%;
    }
}



















